/*style for jqm
*/
.ui-btn-up-b {
	font-family: fantasy;
}
.ui-body-a {
	background-image: linear-gradient(#dce51c 24.17%, rgba(0,0,0,0.95) 80.13%);
	background-position: center center;
	background-repeat: no-repeat;	
	background-size: contain;
	font-family: fantasy;

}
.ui-bar-c{
	font-family: fantasy;
	
}
.ui-bar-a {
	font-family: fantasy;
	
}
.ui-overlay-a {
}
#minilogo {
	margin-left: 30px;
	margin-top:  10px;
}
.ui-content {
	
}